body {
    background-image: linear-gradient(135deg, #5ea3f3 0%, rgb(54, 45, 55) 100%)
}

.sy-sprite {
    position: fixed;
    width: 100px;
    left:30%;
    margin-left: -50px;
    top: 200px;
}

.word-item {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.15);
    font-family: open sans;
    font-size: 30px;
    color: rgba(255,255,255,0.8);
    line-height: 140%;
    font-weight: 100;
    margin-bottom: 20px;
}
