.sun1 {
    display: inline-block;
    background-image: url("../sprite/sun1.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.sun2 {
    display: inline-block;
    background-image: url("../sprite/sun2.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.sun3 {
    display: inline-block;
    background-image: url("../sprite/sun3.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
}
